@charset "utf-8"
/*! Bulma Prefers Dark  | MIT License | github.com/jloh/bulma-prefers-dark */

@import "bulma/utilities/_all.sass"
@import "bulma-prefers-dark/utilities/_all.sass"

$link-dark: darken($red, 10%)
$navbar-breakpoint: $tablet

+prefers-scheme(dark)
  $body-background-dark: #000000
  @import "bulma-prefers-dark/base/_all.sass"
  @import "bulma-prefers-dark/elements/_all.sass"
  @import "bulma-prefers-dark/components/_all.sass"
  @import "bulma-prefers-dark/layout/_all.sass"
