{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block content %}


<div class="container is-max-desktop">

    <div class="hero">
        <div class="hero-body">
            <div class="columns is-vcentered is-variable is-5">
                <div class="column is-two-fifths">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-square">
                                <img src="{{ get_url(path=section.extra.image_path) }}" alt="{{ section.extra.image_alt }}">
                            </figure>
                        </div>
                    </div>
                    <p class="is-size-7 mt-3">{{ section.extra.image_title }} {{ trans(key="by", lang=lang) }} <a href="{{ section.extra.image_source }}">{{ section.extra.image_author }}</a>.</p>
                </div>
                <div class="column">
                    <h1 class="title">
                        {{ config.extra.name }}
                    </h1>

                    <h2 class="subtitle">
                        {{ trans(key="occupation", lang=lang) }}
                    </h2>

                    {{ section.content | safe }}

                    <hr>
                    {% for service in config.extra.social_media %}
                        <a class="tag icon-text mb-2" href="{{ service.url }}">
                            <span class="icon">
                                <i class="{{ service.icon }}"></i>
                            </span>
                            <span>{{ service.name }}</span>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
